
<%= form_for(@train) do |f| %>
  <% if @train.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@train.errors.count, "error") %> prohibited this train from being saved:</h2>

      <ul>
      <% @train.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name , class: "form-control" %>
  </div>
  </div>
  <div class="form-group">
  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number , class: "form-control"%>
  </div>
  </div>
  <div class="actions">
    <%= f.submit  class: "btn btn-primary"%>
  </div>
<% end %>
