<div class="row">
  <div class="col-md-12 col-lg-12">
    <p id="notice"><%= notice %></p>

    <div class="panel panel-default">
      <div class="panel-heading">
        Listing Trains
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-stripped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Number</th>
                <th colspan="3"></th>
                </tr>
            </thead>

            <tbody>
              <% @trains.each do |train| %>
              <tr>
                <td><%= train.name %></td>
                <td><%= train.number %></td>
                <td><%= link_to 'Show', train %></td>
                <td><%= link_to 'Edit', edit_train_path(train) %></td>
                <td><%= link_to 'Destroy', train, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              <% end %>
            </tbody>
          </table>

          <br>

          <%= link_to 'New Train', new_train_path %>
        </div>
      </div>
    </div>
  </div>
</div>