<div class="row">
  <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Log In
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: "form-control"%>
            </div>
          </div>

          <div class="form-group">
          <div class="field">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
          </div>

          <div class="form-group">
          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
          </div>

          <div class="actions">
            <%= f.submit "Log in" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
    
  </div>
</div>



