<%= form_for [ @train, @city ] do |f| %>
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% @city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :arrival_station %><br>
    <%= f.text_field :arrival_station %>
  </div>
  <div class="field">
    <%= f.label :departure_station %><br>
    <%= f.text_field :departure_station %>
  </div>
  <div class="field">
    <%= f.label :arrival_day %><br>
    <%= f.text_field :arrival_day %>
  </div>
  <div class="field">
    <%= f.label :arrival_time %><br>
    <%= f.time_field :arrival_time %>
  </div>
  <div class="field">
    <%= f.label :departure_day %><br>
    <%= f.text_field :departure_day %>
  </div>
  <div class="field">
    <%= f.label :departure_time %><br>
    <%= f.text_field :departure_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
