<p id="notice"><%= notice %></p>

<h1>Listing Cities</h1>

<table>
  <thead>
    <tr>
      <th>Arrival station</th>
      <th>Departure station</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.arrival_station %></td>
        <td><%= city.departure_station %></td>
        <td><%= link_to 'Show', train_city() %></td>
        <td><%= link_to 'Edit', edit_train_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_train_city_path %>
