<p id="notice"><%= notice %></p>

<p>
  <strong>Arrival station:</strong>
  <%= @city.arrival_station %>
</p>

<p>
  <strong>Departure station:</strong>
  <%= @city.departure_station %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
