<!DOCTYPE html>
<html>
<head>
  <title>TripPlanner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
<div class="row">
	<!--div class="col-lg-12 col-md-12 col-xs-12">
		<p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
	</div-->
	<div class="col-lg-12 col-md-12 col-xs-12">
		<%= yield %>
	</div>
</div>
</div>

</body>
</html>
